.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 64px;
    height: 88px;
}

.rightBlock {
    display: flex;
    align-items: center;
    gap: 268px;
}

.authButtons {
    display: flex;
}

.authBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 39px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    background: none;
    border-radius: 12px;
    cursor: pointer;
    transition: color background 0.2s;
}

.authBtn:hover,
.authBtn:focus {
    background: #121417;
    color: #ffffff;
}

.icon {
    stroke: currentColor;
    fill: none;
}