.dropdown {
    position: relative;
    width: auto;
    min-width: 124px;
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    color: #121417;
}

.label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: #8a8a89;
}

.button {
    width: 100%;
    padding: 14px 18px;
    padding-right: 13px;
    border: 2px solid var(--secondary-color);
    border-radius: 14px;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    color: #121417;
}

.button:focus {
    outline: none;
    border-color: var(--primary-color);
}

.arrow {
    display: flex;
    align-items: center;
    margin-left: 32px;
    font-size: 12px;
}

.list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    background: #fff;
    margin-top: 4px;
    padding: 0;
    list-style: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;

}

.option {
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    color: rgba(18, 20, 23, 0.2);
}

.option:focus,
.option:hover {
    outline: none;
}

.activeOption {
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    color: #121417;
}