.nav {
    display: flex;
    gap: 28px;
    align-items: center;

}

.link {
    color: #121417;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    padding: 6px 8px;
    border-radius: 6px;
}

.link:hover,
.link:focus {
    background: var(--primary-color);
}

.active {
    background: var(--secondary-color);
}