.teacherCard {
    display: flex;
    height: 100%;
    gap: 48px;
    border-radius: 24px;
    padding: 24px;
    width: 1184px;
    background: #fff;
}

.img {
    border-radius: 100px;
    width: 96px;
    height: 96px;
    object-fit: cover;
}

.border {
    border: 3px solid var(--secondary-color);
    border-radius: 100px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.headerWrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

.nameWrapper {
    margin-bottom: 32px;
}

.description {
    width: 968px;
}

.languages {
    line-height: 150%;
    color: #8a8a89;
    margin-bottom: 8px;
}

.name {
    font-size: 24px;
    line-height: 100%;
    color: #121417;
}

.skillsList {
    margin-bottom: 16px;
}

.gray {
    line-height: 150%;
    color: #8a8a89;
}

.main {
    line-height: 150%;
    color: #121417;
    margin-bottom: 8px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.reviewsList {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 32px 0;
}

.review {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
}

.reviewer {
    margin-bottom: 2px;
    line-height: 150%;
    color: #8a8a89;
}

.rating {
    display: flex;
    gap: 8px;
}

.iconRating {
    fill: var(--primary-color);
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
}

.bookBtn {
    border-radius: 12px;
    border: none;
    padding: 16px 48px;
    width: 232px;
    height: 60px;
    background: var(--primary-color);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bookBtn:hover,
.bookBtn:focus {
    background: var(--secondary-color);
}

.readMoreBtn {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    background: none;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #121417;
}

.levelsWrapper {
    margin-top: 32px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.levelBtn {
    padding: 8px 12px;
    border: 1px solid rgba(18, 20, 23, 0.2);
    border-radius: 35px;
    cursor: default;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #121417;
}

.activeLevel {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}