.btn {
    display: flex;
    padding: 0;
    cursor: pointer;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: none;
    background: none;
}

.btn svg {
    margin: 0;
    padding: 0;
    width: 22px;
    height: 20px;
}

.btn:hover use,
.btn.active use,
.btn:focus use {
    color: var(--primary-color);
}